* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: white;
    color: #333;
    padding-top: 50px;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.pop-title {
    font-family: 'Anton', sans-serif;
    font-size: 7em;
    font-weight: bold;
    letter-spacing: .02em;
    color: #ff2929;
    text-transform: uppercase;
}

.blurb {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    font-weight: bold !important;
    color: #0532fc;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.donate-button-container {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    margin-top: 30px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.btn {
    padding: 15px 30px;
    font-size: 16px;
    border: 2px solid #0532fc;
    border-radius: 30px;
    background-color: white;
    color: #0532fc;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
    text-transform: capitalize !important;
}

.btn:hover {
    background-color: #0532fc;
    color: white;
    border-color: #0532fc;
}
.donate-btn {
    padding: 10px 20px;
    font-size: 14px;
    border: 2px solid #ff2929;
    border-radius: 30px;
    background-color: #ff2929;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
}

.donate-btn:hover {
    padding: 15px 28px;
    background-color: #ff2929;
    color: white;
    border-color: #ff2929;
}


.topic-section {
    padding: 50px 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 50px;
}

.topic-section h2 {
    font-family: 'Anton', sans-serif;
    font-size: 3em;
    color: #ff2929;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .05em;
}

.organization {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
}

.organization h3 {
    font-size: 1.5em;
    color: #ff2929;
    text-transform: uppercase;
}

.organization ul {
    list-style: none;
    padding: 0;
}

.organization ul li {
    margin: 5px 0;
}

.organization ul li a {
    font-size: 1.2em;
    color: #0532fc;
    text-decoration: none;
}

.organization ul li a:hover {
    color: #ff2929;
}

.organization ul li p {
    font-size: 1em;
    color: #333;
    margin-top: 5px;
}

.donate-container {
    display: flex;
    gap: 10px;
}

.case-link {
    font-family: 'Anton', sans-seri !important;
    letter-spacing: .04em !important;
    font-size: 2em !important;
    font-weight: bold !important;
    text-decoration: none !important;
    color: #0532fc !important;
    transition: color 0.3s ease !important;
    display: block !important;
    margin-bottom: 10px !important;
    text-transform: uppercase !important;
}


.case-link:visited {
    font-family: 'Anton', sans-serif !important;
    color: #0532fc !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
}

.case-link:hover {
    font-family: 'Anton', sans-serif !important;
    color: #ff2929 !important;
    text-decoration: none !important;
    text-transform: uppercase !important;

}

.subtopic-section {
    padding: 40px 20px;
    margin-top: 20px;
    background-color: #f0f0f0;
    /* border-left: 5px solid #ff2929; */
    border-radius: 10px;
    margin-bottom: 40px;
}

.subtopic-section h3 {
    font-family: 'Anton', sans-serif;
    font-size: 2.5em;
    color: #ff2929;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.subtopic-section p {
    font-size: 1.2em;
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;
}

.subtopic-section .organization {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

@media (max-width: 768px) {
    .pop-title {
        font-size: 5em;
    }

    .blurb {
        font-size: 1em;
    }

    .button-container {
        margin-top: 20px;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .row-1 .btn, .row-2 .btn {
        margin: 10px 0;
    }

    .subtopic-section {
        padding: 30px 15px;
    }

    .subtopic-section h3 {
        font-size: 1.7em;
    }

    .subtopic-section p {
        font-size: 1.1em;
    }
}
